# Node.js dependencies
node_modules/
package-lock.json

# Environment variables (DO NOT COMMIT API KEYS)
.env

# Build files
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store  # macOS
Thumbs.db   # Windows

# Git-related files
.git/